<!DOCTYPE html>
<html ng-app="imageGalleryApp">
<head>
	<script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
	<script src="makeup/js_scripts.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="makeup/css_styles.css">
</head>
<body ng-controller="indexController as controller" ng-cloak>
	<div class="fixed-header">
		<div class="header-search-bar">
			<input type="text" ng-model="controller.searchQuery" class="input"/>
			<div class="input-icon" ng-click="controller.getSearchResult()">
				<i class="material-icons">&#xE8B6;</i>
			</div>
		</div>
		<div class="header-app-name">
			{{ controller.appName }}
		</div>
	</div>
	<div class="scrollable-content">
		<div id="results-box" class="results-box">
			<a class="image-ele" ng-repeat="result in controller.listResult" ng-href="https://{{ result.ctxLink }}" style="height:150px" target="_blank">
				<img ng-src="{{ result.imgSrc }}" />
			</a>
		</div>
	</div>
	<div class="load-more" ng-if="controller.showLoadMore">
		<div class="button" ng-click="controller.loadMore()">
			Load more
		</div>
	</div>
</body>
</html>